/* место для вашего кода */

.header {
/*Вся шапка */
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-content: center;
    margin: 92px 22px 94px 24px;
}



.header_menu{
/*контейнер навигации */
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 31px;

}


.header_links-list {
    /* список ссылок */
    display: flex;
    align-items: center;
    gap:30px;
    text-underline-offset: 4px;
    list-style: circle;
    list-style-position: outside;
   
}


.header__links-list-item_no-bullit {
    /* ссылку без кружочка перед ней */
    list-style:none;

}

.header__link {
     /*   пункт списка ссылок */
    width: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-transform: lowercase; 

   }

.header__link_active {
    /* активная ссылка*/
    text-decoration:none;

}


.header_logo{
    /*контейнер логотипа */
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    align-self: center;

 }

.header_logo-image {
    width: 135px;

}


.header_adress {
    /*блок с адресом */
    display: flex;
    flex-direction: column;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-content: center;
    margin-left: -57px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    text-underline-offset:4px;

}

.address {
    justify-self: start;
    font-style: normal;
}

.cover {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 757px;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 125%;
    
}

.overlay {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 17, 24, 0.5);
}

.cover_title {
    position: relative;
    top: 162px;
    z-index: 2;
}

.aligned-text {
    display: block;
    margin-left: 49px;
    color: #FFF;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    line-height: 125px;
    letter-spacing: 30px;
    text-transform: uppercase;

    
}
.aligned-text_center {
    margin-left: 0;
    text-align: center;

}

.aligned-text_right {
    margin-right: 50px;
    text-align: end;

}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    position: relative;
    top: 281px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cover__description-text {
    margin-left: 40px;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 18px;

}

.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;

}

.lots{
    box-sizing: flex;

}

.lots__heading {
    margin: 179px 0 27px 64px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
   

}

.lots__card-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 25px;
    margin: 24px;
    list-style-type: none;
    
}

.lots__card-list-item {
    display: flex;
    flex-grow: 1;
    width: 334px;
    min-height: 563px;

}

.card-link {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;

}

.card{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
 
}



.card_type_film {
    background-image: url(/images/card-lot-01.jpg);


}
.card_type_book {
    background-image: url(/images/card-lot-02.jpg);

}

.card_type_picture{
    background-image: url(/images/card-lot-03.jpg);
 
}

.card__title{
    z-index: 10;
    padding-top: 49px;
    padding-right: 26px;
    padding-left: 40px;
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-transform: uppercase;
}

.card__text{
    z-index: 10;
    display: flex;
    align-items:end;
    height: 100%;
    padding-right: 38px;
    padding-bottom: 48px;
    padding-left: 40px;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 120%; /* 24px */
    
}

.lots__look-more-link {
    display: block;
    height: 10px;
    margin-top: 32px;
    margin-left: 63px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: normal;

}

.about{
    width: 1052px;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.about__column{
    display: grid;
    grid-template-columns: 330px 723px;
    justify-items: center;
    align-items: center;
    height: auto;

}

.about__logo{
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    margin-top: -79px;
    border-radius: 100%;
    background-color: #000;  
}

.about__logo-image{
    width: 148px;

}

.about__text{
    padding-left: 29px;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 24px; /* 120% */

}

.about__text p{
    position: relative;
    top:90px;
    margin-bottom: 26px;
}


.about__title{
    padding-top: 278px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;

}


.footer{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-content: center;
    margin: 241px 49px 94px 50px;
}

.footer_adress {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    margin-left: 10pxx;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    text-underline-offset:4px;

}

.footer_menu{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self:center;
    align-self:self-start;
    margin-left: 32px;

}

.footer__menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-underline-offset: 4px;
    list-style: none;

}

.footer__menu-list-item{
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-align: center;

}

.footer__link{
    width: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-transform: lowercase; 

}

.footer__link_active{
    text-decoration:none;

}


.footer__social-list{
    display: flex;
    flex-direction:row;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-content: center;
    align-items: self-start;
    gap:48px;
    list-style: none;

}



.footer__social-icon{
    width: 48px;

}